._input-form {
  width: 300px;
  height: 2.5rem;
  border-radius: 4px;
  border: 1px solid $oc-gray-3;
}

._input-form-small {
  width: 250px;
  height: 2.5rem;
  border-radius: 4px;
  border: 1px solid $oc-gray-3;
}

._input-space {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}