._select {
  width: 300px;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 4px;
  border: 1px solid $oc-gray-3;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}