@import 'utils';
@import 'common/input';
@import 'common/title';
@import 'common/button';

.user-form {
  .login-type {
    display: flex;
    ._typebox {
      width: calc(150px - 1rem);
      height: 40px;
      margin: 0.5rem;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      &:hover {
        color: $oc-gray-7;
      }
    }

    ._selected {
      border-bottom: 2px solid $oc-gray-7;
      font-weight: bold;
    }
  }

  .register-button {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $oc-gray-4;

    text-align: right;
    color: $oc-gray-7;
  }
}