@import 'utils';
@import 'common/input';
@import 'common/title';
@import 'common/button';

.user-form {
  .register-button {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $oc-gray-4;

    text-align: right;
    color: $oc-gray-7;
  }
}