@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}