@import 'utils';

.category {
  width: 280px;
  height: calc(100% - 5rem);
  z-index: 5;

  border-right: 1px solid $oc-gray-4;
  background: $oc-gray-1;
  transition: all .4s;

  .category__nav {
    padding: 1rem;

    .item_menu {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      .item_menu_title {
        font-size: 1.1rem;
        font-weight: bold;
      }

      .item_sub_menu {
        padding-left: 1rem;
        font-size: 0.9rem;

        li {
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          cursor: pointer;
        }
      }
    }
  }

  @include media("<medium") {
    // display: none;
    position: fixed;
    overflow: auto;
    // left: -280px;

    &:after, &:before {
      overflow: hidden;
    }
  }
}