@import 'utils';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  border-bottom: 1px solid $oc-gray-4;
  background: white;
  
  .header-content {
    height: 5rem;
    width: 1400px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;

    display: flex;
    align-items: center;

    // Menu icon
    .menu-icon {
      display: none;
    }

    // Logo
    .brand {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .search {
      margin: 0 auto;

      input {
        width: 400px;
        height: 1.8rem;
        border-radius: 4px;
      }
    }

    // right buttons
    .right {
      margin-left: auto;

      .icons {
        display: none;
      }
    }

    @include media("<wide") {
      width: 100%;
    }
    @include media("<medium") {
      padding-left: 1rem;
      padding-right: 1rem;

      .menu-icon {
        display: inline-block;
      }

      .search {
        display: none;
      }

      .right {
        .icons {
          display: inline-block;
        }
      }
    }
  }
}