@import 'utils';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  z-index: 10;

  border-bottom: 1px solid $oc-gray-4;
  background: white;
  transition: all .4s;
  
  .header-content {
    height: 5rem;
    width: 1400px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;

    display: flex;
    align-items: center;

    // Menu icon
    .menu-icon {
      display: none;
    }

    // Logo
    .brand {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .search {
      margin: 0 auto;

      input {
        width: 400px;
        height: 1.8rem;
        border-radius: 4px;
      }
    }

    // right buttons
    .right {
      margin-left: auto;

      display: flex;
      justify-content: center;
      align-items: center;

      .login-info {
        margin: 0.5rem;

        color: $oc-blue-6;
        cursor: pointer;
        
        span {
          color: black;
          cursor: default;
        }
      }

      .icons {
        display: none;
      }
    }

    @include media("<wide") {
      width: 100%;
    }
    @include media("<medium") {
      padding-left: 1rem;
      padding-right: 1rem;

      .menu-icon {
        display: inline-block;
      }

      .search {
        display: none;
      }

      .brand {
        font-size: 1.4rem;
      }

      .right {
        .icons {
          display: inline-block;
        }
      }
    }
  }

  .header-mobile-search {
    display: flex;
    justify-content: center;
    
    padding: 0.5rem;

    .ms-wrapper {
      position: relative;

      .ms-search-icon {
        position: absolute;
        top: 0.4rem;
        left: 0;

        display: flex;
        align-items: center;
      }

      .ms-search-input {
        input {
          width: 300px;
          height: 2rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          border: none;
          border-bottom: 1px solid $oc-gray-6;
    
          font-weight: bold;
          font-size: 1.1rem;
          color: $oc-gray-7;
        }
      }

      .ms-search-cancel {
        position: absolute;
        top: 0.4rem;
        right: 0;
      }
    }
  }
}