@import 'utils';
@import 'common/modal_button';

.error-message-modal {
  padding: 0.8rem;

  .modal-buttons {
    margin-top: 0.5rem;
  
    display: flex;
    justify-content: center;

    ._modal-button:hover {
      transition: all .2s;
      
      &:hover {
        background: $oc-gray-1;
      }
    }
  }
}