@import 'utils';
@import 'common/padding';
@import 'common/file';
@import 'common/input';

.user-info {
  .page-title {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .profile-wrap {
    display: flex;

    .user-photo {
      width: 150px;
      margin: 2rem;
  
      img {
        width: 100%;
      }
  
      .user-photo-upload {
        text-align: center;
        color: $oc-blue-6;
        cursor: pointer;
      }
    }
  
    .user-basic-info {
      margin: 2rem;

      .edit-displayName {
        font-weight: bold;
      }
    }
  }

  @include media("<medium") {
    // display: flex;
    // flex-flow: wrap;
    // justify-content: flex-start;

    .profile-wrap {
      flex-flow: wrap;
      justify-content: center;

      .user-photo {
        margin: 0;
      }
    }
  }
}