@import 'utils';

.product {
  display: flex;

  .virtual-fitting-view {
    width: 300px;
    margin: 1rem;

    .virtual-fitting-photo {
      img {
        width: 100%;
      }
    }

    .view-control {
      display: flex;
      justify-content: center;

      .change-button {
        color: $oc-blue-6;
        cursor: pointer;
      }
    }
  }

  .product-view {
    margin: 1rem;
    width: 300px;

    .product-photo {
      img {
        width: 100%;
      }
    }

    .product-price {
      color: $oc-red-8;
      font-weight: bold;
      font-size: 1.2rem;
      text-align: right;
    }

    .product-free-shipping {

      text-align: right;
      color: $oc-gray-7;
      font-size: 0.9rem;
    }

    .product-link-btn {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      display: flex;
      justify-content: flex-end;

      .product-link {
        width: 200px;
        padding: 0.7rem;
        background: $oc-gray-6;
        border-radius: 4px;
  
        color: white;
        text-align: center;
        cursor: pointer;
        user-select: none;
      }
    }
  }

  @include media("<large") {
    .virtual-fitting-view {
      width: 250px;
    }

    .product-view {
      width: 250px;
    }
  }

  @include media("<medium") {
    // flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
  }
}