@import 'utils';

.reg-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .reg-title {
    font-size: 1.3rem;
    font-weight: bold;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .reg-contents {
    width: 300px;

    ._reg-content {
      width: 100%;
      padding: 1rem 2rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      background: white;
      border: 1px solid $oc-gray-3;
      border-radius: 4px;
      cursor: pointer;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      transition: all .2s;

      p.title {
        font-weight: bold;
        font-size: 1.1rem;
      }

      .reg-button {
        width: 180px;
        background: $oc-blue-5;
        border-radius: 4px;

        font-weight: bold;
        color: white;
        padding: 0.8rem 2rem;
        text-align: center;
      }

      &:hover {
        border: 1px solid $oc-gray-5;
      }
    }
  }
}