@import 'utils';
@import 'common/input';

.seller-info {
  .seller-basic-info {
    padding-left: 1rem;
    padding-right: 1rem;

    .info-wrap {
      display: flex;
      align-items: center;

      .info-text {
        padding-left: 1rem;
        padding-right: 1rem;

        color: $oc-blue-6;
      }

      ._small_input {
        width: 150px;
      }
    }
  }
}