@import 'utils';

.footer {
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .description {
    font-weight: 600;
  }

  .github {
    margin-top: 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
  }
}